<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testTimeline</servlet-name>
        <servlet-class>test.testTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createItemsInforServlet</servlet-name>
        <servlet-class>Controller.createItemsInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItemInforServlet</servlet-name>
        <servlet-class>Controller.deleteItemInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateItemsInforServlet</servlet-name>
        <servlet-class>Controller.updateItemsInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet</servlet-name>
        <servlet-class>Controller.createAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testTimeline</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createItemsInforServlet</servlet-name>
        <url-pattern>/createItemsInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItemInforServlet</servlet-name>
        <url-pattern>/deleteItemInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateItemsInforServlet</servlet-name>
        <url-pattern>/updateItemsInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
