/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 26, 2022, 4:23:18 PM
    Author     : Thang
*/

.login__create{
    margin-left: 3%;
}
login p:first-child {
    margin-top: 0px;
} 
.text--login{
    margin-bottom: 4px;
}
.login__container {
        height: 90%;
}
.login__form--login {
    padding: 1px 0px 8px 10px;
}