/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 26, 2022, 10:37:22 AM
    Author     : Thang
*/

.box--content {
    width: 600px;
    height: 220px;
    background-color: rgb(146 169 136 / 66%);
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    margin-left: 140px;
    justify-content: space-around;
    display: none;
    color: white;
}
.box--content .img img{
    height: 90%;
}

.box--content .img {
    width: 36%;
}
.box--content .content{
    width: 54%;
}